<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%-45(%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread]) %-5level  %X{serviceExecutionContext} %logger{32} - %msg%n</pattern>
		</encoder>
	</appender>
	
	<logger name="edu.drexel">
		<level value="TRACE" />
	</logger>

	<root>
		<level value="INFO" />
		<appender-ref ref="CONSOLE" />
	</root>
</configuration>